# Node
node_modules/
**/node_modules/
.env
.env.local
.env.*.local
/dist
/.next
/build
.DS_Store
npm-debug.log
yarn-error.log
.vscode/
*.log

# Prisma
prisma/dev.db

# Python (Vanna)
venv/
__pycache__/
*.pyc
# Docker
docker-compose.override.yml